@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appearEase {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333; }

.heading-secondary {
  padding: 3rem;
  color: #5b54fc;
  font-size: 5rem;
  text-align: center; }
  .heading-secondary--white {
    padding: 3rem;
    color: #5b54fc;
    font-size: 5rem;
    text-align: center;
    color: white; }

.heading-1 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-size: 4rem;
  letter-spacing: 1.2rem;
  font-weight: 400;
  color: #333;
  background-color: transparent; }

.heading-1::before {
  content: "";
  color: #9b97fd;
  background-color: currentColor;
  position: absolute;
  display: block;
  height: .2rem;
  width: 10rem;
  top: 50%;
  right: 109%; }

.heading-1::after {
  content: "";
  color: #9b97fd;
  background-color: currentColor;
  position: absolute;
  display: block;
  height: .2rem;
  width: 10rem;
  top: 50%;
  left: 102%; }

.mr-small {
  margin-right: 2rem; }

.mb-small {
  margin-bottom: 2rem; }

.mb-medium {
  margin-bottom: 4rem; }

.mb-big {
  margin-bottom: 6rem; }

.btn {
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  background-color: #5b54fc;
  color: #f0eeee;
  font-size: 1.5rem;
  border-radius: 10rem;
  border: none;
  transition: all .5s; }
  .btn--animation {
    animation: moveInBottom 2.5s; }
  .btn--white {
    color: #5b54fc !important;
    background-color: #f0eeee;
    padding: 1rem 1.5rem; }
  .btn--information {
    display: block; }
  .btn:hover, .btn:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }

.btn-contact {
  width: 25rem;
  border-radius: 10rem;
  padding: 1rem 2rem;
  color: #f0eeee;
  background-color: #5b54fc;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  transition: all .5s; }
  .btn-contact--animation {
    animation: moveInBottom 2.5s; }
  .btn-contact:hover, .btn-contact:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }

.navigation {
  width: 100%;
  padding: 3rem 5rem;
  margin-right: 1rem; }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .navigation__item {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .25rem;
    width: max-content;
    font-weight: 600;
    font-size: 1.4rem;
    list-style: none; }
    .navigation__item:not(:last-child) {
      margin-right: 5rem; }
    .navigation__item--underline {
      text-decoration: none;
      color: #333;
      transition: border-bottom .2s;
      position: relative; }
    .navigation__item--underline::after {
      position: absolute;
      content: "";
      opacity: 0;
      background-color: #5b54fc;
      height: 15%;
      width: 100%;
      top: 2.3rem;
      left: 0;
      transition: opacity .5s; }
    .navigation__item--underline:hover::after {
      opacity: 1; }
    .navigation__item--contact {
      margin-left: auto;
      margin-right: 2rem;
      position: relative;
      z-index: 5; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(153, 153, 153, 0.5), rgba(17, 17, 17, 0.5)), url(../img/mountain-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .header::after {
    content: "";
    background-color: #5b54fc;
    opacity: .7;
    clip-path: polygon(69% 0, 100% 0%, 100% 100%, 51% 100%);
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0; }
  .header__box {
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: appearEase 3s; }
  .header__text-content h1 {
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
    text-transform: uppercase; }
  .header__text-content h2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #FDCE2E; }
  .header__text-content p {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: .5rem;
    font-style: italic; }
  .header__image {
    width: 40%;
    height: 80%;
    align-self: center;
    display: block;
    margin-right: 5rem;
    object-fit: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: -2rem;
    z-index: 10; }

.about {
  padding: 5rem;
  text-align: center;
  position: relative; }
  .about::after {
    content: "";
    background-color: #FDCE2E;
    position: absolute;
    clip-path: polygon(51% 0%, 100% 58%, 100% 100%, 71% 100%, 0 0);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1; }
  .about__box {
    margin-top: 6rem;
    background-color: transparent;
    display: flex;
    align-items: center; }
  .about__text {
    flex: 0 0 50%;
    font-size: 1.4rem;
    padding: 2rem 7rem;
    line-height: 2.2;
    text-rendering: optimizeLegebility;
    text-align: justify; }
  .about__item {
    flex: 0 0 50%;
    align-self: flex-start;
    position: relative; }
    .about__item::after {
      content: "";
      background-color: #FDCE2E;
      position: absolute;
      clip-path: polygon(100% 0, 75% 0, 100% 25%);
      height: 100%;
      width: 100%;
      top: -2rem;
      right: 0; }
    .about__item::before {
      content: "";
      background-color: white;
      position: absolute;
      clip-path: polygon(0 75%, 0 100%, 25% 100%);
      height: 100%;
      width: 100%;
      bottom: -2rem;
      left: -2rem;
      z-index: 10; }
  .about__img {
    width: 100%;
    position: relative;
    display: block;
    object-fit: contain; }

.skills {
  position: relative;
  text-align: center;
  padding: 7rem 0; }
  .skills::after {
    content: "";
    background-color: #FDCE2E;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 84%, 71% 0);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1; }
  .skills__box {
    margin-top: 10rem; }
  .skills__icons {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .skills__icon--text {
    font-style: 3rem;
    margin-bottom: 2rem;
    color: #333; }
  .skills__icon--img {
    width: 9rem;
    height: 9rem;
    color: #5b54fc; }

.projects {
  text-align: center;
  padding: 7rem 0 2rem 0;
  position: relative; }
  .projects::after {
    content: "";
    background-color: #FDCE2E;
    position: absolute;
    clip-path: polygon(100% 0, 0 0, 0 61%);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1; }
  .projects__container {
    margin-top: 2rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 100%; }
  .projects__box {
    margin: 2rem;
    padding: 2rem;
    width: 100%;
    height: 35rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center; }
    .projects__box--vaycar {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/vaycar.jpg); }
    .projects__box--beta {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/beta.png); }
    .projects__box--gamb {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/mountain.jpg); }
  .projects__name {
    margin-bottom: 2rem;
    text-decoration: none;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white; }

.contact {
  text-align: center;
  padding: 4rem 2rem; }
  .contact__box {
    margin-top: 4rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .contact__item {
    flex: 0 0 50%; }
  .contact__img {
    width: 100%;
    display: block;
    object-fit: contain; }
  .contact__icon {
    flex: 0 0 10%;
    margin-right: auto;
    font-size: 2rem; }
  .contact__text {
    flex: 0 0 85%;
    text-align: center; }

.footer {
  background-color: #5b54fc;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer__text {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.4rem; }
  .footer__social-networks {
    display: flex; }
  .footer__link:not(:last-child) {
    margin-right: 2rem; }
  .footer__icon {
    color: white;
    font-size: 2.5rem; }
