.header {

    height: 100vh;
    background-image: linear-gradient(to right, rgba(#999, 0.5), rgba(#111, 0.5)), url(../img/mountain.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
      content: "";
      background-color: $color-primary;
      opacity: .7;
      clip-path: polygon(75% 0, 100% 0%, 100% 100%, 22% 100%);
      height: 100%;
      width: 100%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
    }

  &__box {
      width: 85rem;
      height: 45rem;
      position: relative;
      background-color: #eee;
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border-radius: 5px;
      // overflow: hidden;

  }

  &__information {
      padding: 3rem;
  }

  &__image {
      width: 50%;
      height: 100%;
      align-self: center;
      display: block;
      margin-right: 5rem;
      object-fit: cover;
      background-position: center;
  }

  &__text {
      animation: moveInTop 2.5s;
      letter-spacing: .5rem;
      text-transform: uppercase;
      font-size: 3.5rem;
      color: $color-primary;
      margin-bottom: 5rem;

      &--black {
        color: #555;
        font-size: 2.5rem;
      }
  }

  &__photo {
      width: 50rem;
  }
}
