.about {
    padding: 5rem;
    text-align: center;

    &__box {
        margin-top: 4rem;
        background-color: $color-grey-light-1;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__text {
        flex: 0 0 50%;
        font-size: 1.5rem;
        padding: 2.2rem;
        line-height: 2.2;
        text-rendering: optimizeLegebility;
        text-align: justify;
    }

    &__icon {
        flex: 0 0 50%;
        width: 25rem;
        padding: 2rem;
        color: $color-primary;
        height: 25rem;
    }

}

.heading-1 {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-size: 4rem;
    letter-spacing: 1.2rem;
    font-weight: 400;
    color: $color-grey-dark-1;
    background-color: white;
}

.heading-1::before {
    content: "";
    color: $color-secondary;
    background-color: currentColor;
    position: absolute;
    display: block;
    height: .2rem;
    width: 10rem;
    top: 50%;
    right: 109%
}

.heading-1::after {
    content: "";
    color: $color-secondary;
    background-color: currentColor;
    position: absolute;
    display: block;
    height: .2rem;
    width: 10rem;
    top: 50%;
    left: 102%
}
