.about {
    padding: 5rem;
    text-align: center;
    position: relative;

    @include respond(big-phone) {
        padding: 3rem 5rem
    }

    @include respond(phone) {
        padding: 3rem 5rem
    }

    &::after {
        content: "";
        background-color: $color-layout;
        position: absolute;
        clip-path: polygon(51% 0%, 100% 58%, 100% 100%, 80% 100%, 0 0);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;

    }

    &__box {
        margin-top: 6rem;
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include respond(tab-port) {
            display: inline-block
        }
    }

    &__text {
        flex: 0 0 50%;
        font-size: 1.5rem;
        padding: 2rem 7rem;
        line-height: 2.2;
        text-rendering: optimizeLegebility;
        text-align: justify;

        @include respond(big-phone) {
            padding: 0 1.5rem
        }

        @include respond(phone) {
            padding: 0 1.5rem
        }
    }

    &__item {
        flex: 0 0 50%;
        align-self: center;
        position: relative;

        &::after {
            content: "";
            background-color: $color-layout;
            position: absolute;
            clip-path: polygon(100% 0, 75% 0, 100% 25%);
            height: 100%;
            width: 100%;
            top: -2rem;
            right: 0;

            @include respond(tab-port) {
                display: none;
            }
        }

        &::before {
            content: "";
            background-color: $color-grey-light-1;
            position: absolute;
            clip-path: polygon(0 75%, 0 100%, 25% 100%);
            height: 100%;
            width: 100%;
            bottom: -2rem;
            left: -2rem;
            z-index: 10;

            @include respond(tab-port) {
                display: none;
            }
        }
    }

    &__img {
        width: 100%;
        position: relative;
        display: block;
        object-fit: contain;

        @include respond(tab-port) {
            width: 60%;
            float: left;
            padding: 4rem;
        }

        @include respond(big-phone) {
            display: none;
        }

        @include respond(phone) {
            display: none;
        }
    }
}
