.contact {
    text-align: center;
    padding: 4rem 2rem;

    &__box {
        margin-top: 4rem;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        flex: 0 0 50%;
    }

    &__img {
        width: 100%;
        display: block;
        object-fit: contain;
    }
}
