

////////////////////////MENU IPHONE/////////////////////////

  .menu {

      display: none;

      @include respond(phone) {
      display: block;
      }

      &__checkbox {
          display: none;
      }

      &__button {
          background-color: $color-primary;
          height: 5rem;
          width: 5rem;
          position: fixed;
          top: 3rem;
          right: 2rem;
          border-radius: 50%;
          z-index: 2000;
          box-shadow: 0 1rem 3rem rgba(black, .1);
          text-align: center;
          cursor: pointer;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

      }

      &__background {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          position: fixed;
          top: 3.25rem;
          right: 2.25rem;
          // background-color: $color-primary;
          background-image: radial-gradient($color-primary, $color-layout);
          z-index: 1000;
          transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

      }

      &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transform: translateX(-50rem);
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
        // transition: opacity .7s .2s;
      }

      &__list {
          @include absCenter;
          text-align: center;
          list-style: none;
      }

      &__item {
          padding: 5rem;
      }

      &__link {
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: .7rem;
          color: $color-grey-light-1;
          font-size: 4rem;
          font-weight: 300;
          cursor: pointer;
          width: 50rem;
      }

      &__checkbox:checked ~ &__background {
          transform: scale(100);
      }

      &__checkbox:checked ~ &__nav {
         transform: translateX(0);
          opacity: 1;
          width: 100%;
      }

      &__icon {
          position: relative;
          margin-top: 2.5rem;

          &,
          &::before,
          &::after {
              width: 2rem;
              height: 1px;
              border-radius: 2px;
              background-color: $color-grey-light-1;
              display: inline-block;
          }

          &::before,
          &::after {
              content: "";
              position: absolute;
              left: 0;
              transition: all .2s;
          }

          &::before { top: -.9rem; }
          &::after { top: .8rem; }
      }

      &__checkbox:checked + &__button &__icon {
          background-color: transparent;
      }

      &__checkbox:checked + &__button &__icon::before {
          top: 0;
          transform: rotate(135deg);
      }

      &__checkbox:checked + &__button &__icon::after {
          top: 0;
          transform: rotate(-135deg);
      }




}


//////////////////NAVIGATION MAC /////////////////////


.navigation {
      width: 100%;
      padding: 3rem 5rem;
      margin-right: 1rem;
      position: relative;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include respond(phone) {
            display: none;
        }
    }

    &__item {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .25rem;
        width: max-content;
        font-weight: 600;
        font-size: 1.4rem;
        list-style: none;

        &:not(:last-child) {
          margin-right: 5rem;
        }

        &--underline {
            text-decoration: none;
            color: $color-grey-dark-1;
            transition: border-bottom .2s;
            position: relative;
        }

        &--underline::after {
            position: absolute;
            content: "";
            opacity: 0;
            background-color: $color-primary;
            height: 15%;
            width: 100%;
            top: 2.3rem;
            left: 0;
            transition: opacity .5s;
        }

        &--underline:hover::after {
            opacity: 1;
        }



        &--contact {
            margin-left: auto;
            margin-right: 2rem;
            position: relative;
            z-index: 5
        }
    }
}

.hidden {
  display: none;
}






