.projects {
    text-align: center;
    padding: 7rem 0 2rem 0;
    position: relative;


    &::after {
        content: "";
        background-color: $color-layout;
        position: absolute;
        clip-path: polygon(100% 0, 0 0, 0 61%);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__container {
        margin-top: 3rem;
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 0 100%;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__card {
        position: relative;
        margin: 2rem;
        padding: 2rem;
        width: 100%;
        height: 35rem;

        @include respond(tab-land) {
            height: 25rem;
        }

        @include respond(phone) {
            flex-direction: column;
            width: 50%;
            height: 40rem;
        }

        @include respond(small-phone) {
            flex-direction: column;
            width: 60%;
            height: 30rem;
        }

        &__side {
             width: 100%;
             height: 100%;
             border-radius: 10px;
             position: absolute;
             top: 0;
             left: 0;
             display: flex;
             align-items: center;
             justify-content: center;
             background-size: cover;
             background-position: center;
             transition: all .9s ease;

                &--front--vaycar {
                    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/vaycar.jpg);
                }

                &--front--beta {
                    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/beta.png);
                }

                &--front--gambling {
                    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/mountain.jpg);
                }

            &--back {
              transform: rotateY(-180deg);
              backface-visibility: hidden;
              // background-image: linear-gradient(to right bottom, $color-primary, $color-layout);
              background-color: $color-primary;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;

              @include respond(phone) {
                  display: none;
              }

                &__text-description {
                  padding: 2rem 3rem;
                  font-size: 1.3rem;
                  letter-spacing: .1rem;
                  text-align: justify;
                  color: $color-grey-light-1;

                  @include respond(tab-land) {
                      font-size: 1.1rem;
                  }
                }

                &__img {
                    width: 7rem;
                    margin-top: 2rem;

                    @include respond(tab-land) {
                        width: 5rem;
                    }

                    @include respond(tab-land) {
                        width: 7rem;
                    }
                }
            }
        }


        &:hover &__side {
            transform: rotateY(180deg);
            backface-visibility: hidden;
        }

        &:hover &__side--back {
            transform: rotateY(0deg);
        }
    }


    &__name {
        margin-bottom: 2rem;
        text-decoration: none;
        letter-spacing: 1rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: $color-grey-light-1;
    }
}



