.skills {
    position: relative;
    text-align: center;
    padding: 7rem 0;

    &::after {
        content: "";
        background-color: $color-layout;
        position: absolute;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%, 80% 0);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }




      &__box {
          margin-top: 10rem;
      }

      &__icons {
          display: flex;
          align-items: center;
          justify-content: space-around;
      }

      &__icon {

          &--text {
              font-style: 3rem;
              margin-bottom: 2rem;
              color: $color-grey-dark-1;
          }


          &--img {
              width: 9rem;
              height: 9rem;
              color: $color-primary;
              transition: transform .5s;

              &:hover {
                  transform: scale(1.15);
              }
          }
      }
}
