.skills {
    position: relative;
    text-align: center;
    padding: 7rem 0;
    margin-top: -1.5rem;

    @include respond(big-phone) {
        padding: 2.5rem 0;
    }

    @include respond(phone) {
        padding: 2.5rem 0;
    }

    &::after {
        content: "";
        background-color: $color-layout;
        position: absolute;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%, 80% 0);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

      &__box {
          margin-top: 5rem;
      }

      &__icons {
          display: flex;
          align-items: center;
          justify-content: space-around;

          @include respond(phone) {
              display: grid;
              grid-template-columns:  1fr 1fr;
              grid-template-rows: 1fr 1fr;
          }

          @include respond(small-phone) {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr;
          }
      }

      &__icon {

          padding-bottom: 5rem;

          &--text {
              font-size: 3rem;
              margin-bottom: 2rem;
              color: $color-grey-dark-1;
          }


          &--img {
              font-size: 9rem;
              color: $color-primary;
              transition: transform .5s;

              @include respond(big-phone) {
                  font-size: 13rem;
              }

              @include respond(phone) {
                  font-size: 13rem;
              }


              &:hover {
                  transform: scale(1.15);
              }
          }
      }
}
